@import '../../../../variables.scss';

.mascot {
    width: 100%;
    height: 593px;
    background: url(../../img/background_2-block.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    &__text_block {
        margin-top: 87px;
        margin-right: 646px;
    }
    &__title {
        width: 623px;
        color: $white;
        font-family: Russo One;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px; 
        margin: 0;
    }
    &__desc {
        width: 511px;
        color: $white;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        margin: 0;
        padding: 0;
        margin-top: 16px;
    }
    &__btns {
        display: flex;
        margin-top: 34px;
    }

    &__img {
        position: absolute;
        top: -55px;
        left: -636px;    
        display: flex;
        width: 672px;
        height: 593px;
        padding-bottom: 0px;
    }
    &__block_img {
        position: relative;
    }
}

.play {
    color: $gray;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    cursor: pointer;

    width: 180px;
    height: 66px;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: $green;
    border-radius: 16px;
    outline: 0;
    border: 0;

    &:hover {
        background: $green-light;
    }
}