@import '../../../../variables.scss';

.navigation{
    display: flex;
    width: 1280px;
    margin-top: -38px;
    margin-left: -5px;
    margin-bottom: 40px;
    &__nav {
        display: flex;
        justify-content: center;
        margin-top: 79px;
    }
    &__logo {
        
        margin-left: -16px;
    }
    &__links {
        display: flex;
        margin-right: 260px;
        
        &>li {
            list-style-type: none;
            margin-right: 52px;
            margin-top: 3px;
        }
    }
    &__link {
        color:  $white;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        text-decoration: none;
    }
    &__dropdown {
        margin-top: 19px;
        margin-right: 45px;
        margin-left: 19px;
    }
    &__actions {
        display: flex;
        justify-content: center;
        margin-top: 2px;
    }
}