@import '../../variables.scss';

.Home {
    background-color: $gray;
    
}

.Quests, .Rating {
    background-color: $black;
}

.wrapper {
    background-image: url("../home/img/background.svg");
}

.header {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    
}