@import '../../variables.scss';

.Home {
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Quests, .Rating {
    background-color: $black;
}

.wrapper {
    background-image: url("../UI/img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.wrap {
    background-image: url("../UI/img/background_caps.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    
}

.lights {
    width: 100%;
    background-image: url('../UI/img/downlaod_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}