.Home {
    background-color: #282828;
    background-image: url("../home/img/background.svg");
}

.Quests, .Rating {
    background-color: #171717;
}



.header {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    
}