.dropdown {
    background-color: transparent;
    color: #FDFAFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    border: 0;
    cursor: pointer;
    width: 60px;
    appearance: none;
    -webkit-appearance: none; /* Safari и Chrome */
    -moz-appearance: none; /* Mozilla */
    -ms-appearance: none;
    background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6' fill='none'><path d='M6 6L0.803848 0L11.1962 0L6 6Z' fill='%23FDFAFF'/></svg>");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 46px;
    &:active {
        border: 0;
        outline: 0;
        text-decoration: none;
    }
    
}
option {
    background-color: #282828;
}
