 $black: #171717;
 $gray: #282828;
 $white: #FDFAFF;
 $green: linear-gradient(140deg, #AAF97E 5.33%, #9AEC6C 131.71%);
 $green-light: linear-gradient(140deg, #F1FDEA 5.33%, #9AEC6C 131.71%);
 $purple: linear-gradient(180deg, #8A2DE7 0%, #5659FE 100%);
 $purple-light: linear-gradient(180deg, #A654F8 0%, #595CFF 100%);
 $gray-bottom: #787C7F;
 $gray-light: #B1B3C0;
 $gold: #CEA452;
 $bronze: #B68B72;